.field {
  width: 100%;
  padding: 10px 15px;
  border: 0;
  border-radius: 5px;
  display: block;
}

.field-error {
  margin-top: 5px;
  color: #c00;
  font-size: 14px;
}

@media (min-width: 480px) {
  .field {
    padding: 15px 20px;
  }

  .field-error {
    margin-top: 10px;
  }
}
